<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <script type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"%}">
        <script type="text/javascript" src="{% static "timer/inc/TimeCircles.js"%}"></script>
        <link rel="stylesheet" href="{% static "timer/inc/TimeCircles.css"%}">

</head>
<body>
 <div  class="container">
            <div  id="CountDownTimer" data-timer="60" style="margin-top: 30px;
            margin-left: 850px; width: 500px; height: 200px;"></div>

 </div>
 <div id="error-message">{{answer}}</div>
<script>
     $('#error-message').show();
 setTimeout(function(){
    $('#error-message').hide();
 }, 1000);
</script>
 <script>
            $("#DateCountdown").TimeCircles();
            $("#CountDownTimer").TimeCircles({ time: { Days: { show: false }, Hours: { show: false },Minutes: { show: false } }});
            $("#CountDownTimer").TimeCircles({circle_bg_color: "white"});
            $("#CountDownTimer").TimeCircles({total_duration: 60});
            $("#CountDownTimer").TimeCircles({time:{Seconds:{color: "#C0C8CF"}}});

            $("#PageOpenTimer").TimeCircles();
            $("#CountDownTimer").TimeCircles({count_past_zero: false}).addListener(countdownComplete);

            var updateTime = function(){
                var date = $("#date").val();
                var time = $("#time").val();
                var datetime = date + ' ' + time + ':00';
                $("#DateCountdown").data('date', datetime).TimeCircles().start();
            }
            $("#date").change(updateTime).keyup(updateTime);
            $("#time").change(updateTime).keyup(updateTime);

            // Start and stop are methods applied on the public TimeCircles instance
            $(".startTimer").click(function() {
                $("#CountDownTimer").TimeCircles().start();
            });
            $(".stopTimer").click(function() {
                $("#CountDownTimer").TimeCircles().stop();
            });

            // Fade in and fade out are examples of how chaining can be done with TimeCircles
            $(".fadeIn").click(function() {
                $("#PageOpenTimer").fadeIn();
            });
            $(".fadeOut").click(function() {
                $("#PageOpenTimer").fadeOut();
            });



function countdownComplete(unit, value, total){
	if(total<=0){
    var wait=setTimeout("document.gettime.submit();",0);
	}
}

        </script>

<div style="margin-left: 550px;">
 <h1 style="margin-left: 100px;">{{wordone.name}}</h1>
<!-- переход на следующее слово и отправка данных формы-->
<form style="size: 100px;font-size: 20px;" method="POST" name = "gettime" action="{% url "start" idtopic=wordone.id_topic_id idword=wordone.id %}">
     {% csrf_token %}
    <table>
    {{ form.as_table}}

    </table>
    <input  type="submit"  style="margin-left: 70px;width: 20%; height: 50px; margin-top:20px;font-size: 20px; " value="Проверить" >
  </form>

<div style="margin-top: 30px; font-size: 20px;">

{% for sss in lstt %}
    {{ sss.name }}
    {{ sss.translate }}
{% endfor %}
<br>
Синонимы:
{% for sin in sin_list %}
    {{ sin.name }}
{% endfor %}
    <br>
    Пример:
{{wordone.example}}

    </div>

 </div>


</body>
</html>